{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Le meilleur coin</h1>
            <p class="lead">Site d'annonce</p>
        </div>
    </div>
    {% for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-"{{ label }}>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </body>
{% endblock %}
