{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h1>Bienvenue sur le MeilleurCoin !!</h1>

    </div>
    {% for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-"{{ label }}>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </body>
{% endblock %}
