{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h1>Bienvenue sur le MeilleurCoin !!</h1>

    </div>
    </body>
{% endblock %}
