<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_main_faq') }}"><i class="fas fa-question-circle"></i> FAQ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_main_cgu') }}"><i class="fas fa-book-open"></i> CGU</a></a>
    </li>
</ul>