<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app_main_faq') }}"><i class="fas fa-question-circle"></i> FAQ</a></li>
                <li><a href="{{ path('app_main_cgu') }}"><i class="fas fa-book-open"></i> CGU</a></li>
            </ul>
        </div>
    </div>
</nav>