{% extends 'base.html.twig' %}

{% block title %}New Ad{% endblock %}

{% block body %}
    <h1>Create new Ad</h1>

    {{ include('ad/_form.html.twig') }}

    <a class ="no_white" href="{{ path('ad_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
{% endblock %}
